body {
    font-family: "roboto", "helvetica", "sans-serif", "arial";
}

.choose {
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #333;
    margin-bottom:15px;
}

.post {
    background-color: #444;
    border-radius: 12px;
    padding: 9px;
    color: white;
    margin-top: 4px;
    cursor: pointer;
    display: inline-block;
    float: left;
    clear:left;
}

.posts {
    background-color: #888;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    max-width: 450px;
    float:left;
}

.comment {
    float: left;
    clear: left;
    background-color: #999;
    margin-bottom: 5px;
    border-radius: 8px;
    width: 100%;
    padding: 5px;
}

.comments {
    float:left;
    display:inline-block;
    background-color: black;
    width:30%;
    margin-left: 10px;
    padding: 10px;
}

.comment-author {
    font-size: 10px;
    color: white;
}

.comment-body {
    font-size: 14px;
    border-bottom: 2px groove gray;
}
